body {
    padding-top: 80px;
    padding-bottom: 60px;

    /*background image*/
    background-image: url("../images/board.png");

    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.txt {
    color: white;
    text-align: center;
}

p.txt{

    padding-top: 10%;
    font-size: 25px;
}